# Gradle files
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
**/.DS_Store

# Kotlin
/.kotlin/

# Captures
captures/

# APK output
/app/release/
/app/debug/

# NDK build cache
.ndk/

# temp
data.json